body{
    font-family: GT America Standard, sans-serif;
    font-size: 20px;
    text-align: left;
    margin:0;
    padding: 0;
}
/*NAV*/

nav a{
    text-decoration: none;
    color: #fff;
}

li{
    list-style-type: none;
    color: #fff;
    padding: 10px;
}
.vl {
    border-left: 2px solid #fff;
    height: 30px;
    position: absolute;
    left: 165px;
    top: 30px;
  }
 
.first{
    font-size: 23px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    padding: 10px auto;
}
.first .hp:hover{
    text-decoration: underline;
}

nav a:hover{
    color: rgba(243, 212, 212, 0.795);
    text-decoration: none;
}

.second{
    display: flex;
    justify-content: flex-start;
    padding-right: 90px;
    align-items: center;
}

nav{
    background-color: #000;
    height: 88px;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}
nav input{
    text-align: center;
}

#submit{
    background-color: #191a1b;
    border: 1px solid #dadbf1;
    border-radius: 10px;
    padding: 5px;
    padding-top: 8px;
    height: 35px;
    width: 250px;
}

#sign-in{
    background-color: #4C5FD5;
    border: 1px solid #4C5FD5;
    border-radius: 10px;
    padding: 8px 5px 5px 5px;
    height: 35px;
    width: 130px;
}

#sign-in:hover{
    background-color: #fff;
    
}

.second ::placeholder{
    color: #fff;
    font-size: 25px;
}

#sign-in:hover::placeholder {
    color: #000;
}
/* HELP */

.question{
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 2px 5px;
    margin-right: 5px;
}
.help-btn{
    padding: 12px 30px;
    border: 4px solid #7982d3;
    border-radius: 30px;
    position: fixed;
    margin-top: 460px;
    right: 20px;
    background-color: #4C5FD5;
    color: white;
    text-align: center;
}



/*HEAD STYLES*/

#header{
    height: 380px;
    padding-top: 20px;
    font-size: 32px;
    background-color: #dadbf1;
    text-align: center;
}
h1{
    font-size: 80px;
    font-weight: 400;
    height: 60px;
    padding-top: 40px;
}
.input-div{
    height: 65px;
    width: 680px;
    border-radius: 5px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    background: #fff;
    margin: auto;
}
.input-div img{
    transform: scale(.5);
}
#search{
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 20px;
}
.input-div:hover{
     border: 1px solid #4C5FD5; 
}
.input-div img:hover{
    color:#4C5FD5;
}

/*MID STYLES*/

img{
    height: 80px;
}

.learn-more{
    display: flex;
    padding: 0px;
}

.learn-more a:hover{
    text-decoration: underline;
}

.abstractimg{
    margin-top: -25px;
    margin-left: -23px;
    transform: scale(.25);
    padding-top: 16px;
}

.services{
    font-size: 23px;   
    line-height: 32px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    padding: 150px 50px;
    margin-left: 30px;
    margin-right: 50px;
}

.service1,
.service2,
.service3,
.service4,
.service5,
.service6{
    display: flex; 
}

.image{
    padding-top: 20px;
}

.image1{
    padding-top: 30px;
}

a{
    text-decoration: none;
    color: #4C5FD5;
    padding-left: 20px;
}

a:hover{
    text-decoration: underline;
}

.branch p,
.manage-account p,
.manage-more p,
.billing p,
.authenticate p,
.support p{
    margin-top: 10px;
    padding-left: 20px;
}

h3{
 padding-left: 20px;
 padding-bottom: 0; 
 margin-bottom: 0; 
}

/*footer*/


.footer-2{
    background-color: #000;
}

.more{
    color: #fff;
    background: #000;
    color: #fff;
    height: 10px;
    font-size: 14px;
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    line-height: 13px;
    padding-top: 50px;  
}

.more li{
    margin-left: 0;
    padding-left: 0;
    font-size: 15px;
    display: block;
    font-weight: 400;
    align-items: left;
}

.more li:hover{
    text-decoration: underline;
}

#abstract,
#resources,
#community,
#more,
#mores{
    font-size: 24px;
    font-weight: bolder;
    margin-left: 34px;
    margin-right: -20px;
    padding: auto 20px;
}

#mores{
    margin-top: 20px;
    font-size: 16px;
}

.copy{
    font-size: 20px;
    right: 10px;
    font-weight: 200;
    color: #fff;
}

@media screen and (min-width: 1200px){
    .more{
        gap:50px;
    }
}

 @media screen and (min-width: 975px){ 
.footer{
    background-color: #000;
}
.more{
    display: flex;
    margin: 0px 0px -240px 40px;
    line-height: 8px;
    }
.copy{
    font-weight: 400;
    line-height: 10px;
    padding-left: 100px;
}
} 

@media screen and (min-width: 620px){
    .second{
     display: none;
    }
     .services{
        font-size: 23px;   
        line-height: 32px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        padding: 150px 50px;
        margin-left: 30px;
        margin-right: 50px;
    } 
    img{
        height: 70px;
    }
    .more{
        height: 270px;
         grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-right: 20px;
    }
    .copy{
        margin: 180px 10px 50px 60%;
        font-weight: 400;
        line-height: 10px;
    }
    .footer-2{
        padding-bottom: 20px;
    }
}

@media screen and (max-width:620px){
    .second{
        display: none;
    }
    h1{
        font-size: 40px;
    }
    h3{
        font-size: 24px;
    }
    .input-div{
        width: 85%;
    }
    .services{
        display: block;
        padding: 20px;
    }
.service1,
.service2,
.service3,
.service4,
.service5,
.service6 {
        margin-top: 60px;
    }
    img{
        height: 60px;
    }
    .abstractimg{
        padding-top: 15px;
    }

    .more{
       display: block;
        grid-template-columns: repeat(2, 1fr);
        padding-right: 20px;
    }
    .footer-2{
        height: 900px;
    }
    #mores{
        font-size: 16px;
        font-weight: 600;
    }
    .copy{
        margin-top: 730px;
        position: absolute;
        left: 20px;
        font-weight: 400;
        line-height: 10px;
    }
}
@media screen and (max-width:450px){
    .more{
        display:block;
       padding-left: 20px;
    }
}
/* git config --global push.default
git config --global core.editor
git cofig --global credential.helper "cache --timeout=36000"
git config --global credential.helper store
git init
git add
git commit -m "Initial commit
git remote add origin habeeb/abstract.com"
git push -u
git clone habeeb/abstract.com
git pull
git status
RAEDME.md
git add README.md
.gitignore*/